/* page title styles */
#page__title {
	padding-top: 3rem;
	padding-bottom: 2rem;
}
.page__title__text {
	font-size: 2.2rem;
	color: var(--black-1);
}
@media only screen and (min-width: 768px) {
	#page__title {
		padding-top: 5rem;
		padding-bottom: 3rem;
	}
	.page__title__text {
		font-size: 3.6rem;
        text-align: center;
	}
}

h1 {
    text-align: center;
    margin: 20px 0;
}
.cost_title {
    color: red;
    font-weight: bold;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tablink {
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    transition: border-bottom-color 0.3s; /* Transition only the bottom border color */

    /* Create a bottom border that is initially transparent */
    border-bottom: 2px solid transparent;
}

/* Style for when the tablink is hovered */
.tablink:hover {
    border-bottom-color: var(--green-1); /* Show the bottom border on hover */
}

/* Style for when the tablink is active */
.tablink.active {
    border-bottom-color: var(--green-1); /* Show the bottom border when active */
}


.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu-item .info {
    max-width: 600px;
    flex: 1;
    position: relative;
}
.menu_title{
    font-size: 2.5rem;
    color: green;
}
.drink_cost{
    color: red;
    font-weight: bold;
    text-align: right;
}
.menu-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.menu-items {
    flex: 1;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px dotted black; /* Dotted line between items */
    padding-bottom: 10px;
    padding-top: 10px;
}

.item-info {
    flex: 1;
}

.item-title {
    display: flex;
    justify-content: space-between;
}

.cost_title {
    margin-left: 20px; /* Space between title and cost */
}
